language: python
python:
  - "3.7"
install:
  - sudo apt update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION 
  - conda install numpy pandas pystan
  - conda install -c conda-forge fbprophet
  - pip install django
  - pip install mysqlclient
services:
  - mysql
before_script:
  - mysql -e 'CREATE DATABASE analysis;' -u root
script:
  - python3 manage.py test